import csv

with open('ReporteEnero2018.csv') as csv_file: #archivo .CSV Limpio

    csv_reader = csv.reader(csv_file, delimiter=',') #Lecura de archivo

    llamadasAtendidas=0
    TiempoDeEspera=0
    llamadasASoporte=0
    TiempoAtendido=0
    for linea in csv_reader:
        interno=linea[1]
        if interno in linea[1] and "720" not in linea[3]: #Espera en queue
            for row in linea:
                if row=="ANSWERED":

                    llamadasAtendidas+=1
                    TiempoAtendido+=int(linea[8].split("s")[0])



        if "720" in linea[3]:#llamadas al IVR
            llamadasASoporte+=1

            TiempoDeEspera+=int(linea[8].split("s")[0])#Suma del tiempo del IVR hasya que atendio la queue o corto
    PromEspera=((TiempoDeEspera-TiempoAtendido)/llamadasASoporte)/60
    NoAtendidas=llamadasASoporte-llamadasAtendidas
    PorcentajeNoAtendidas=(NoAtendidas/llamadasASoporte)*100
    print("Llamadas a soporte: ",llamadasASoporte,"\nLlamadas atendidas: ",llamadasAtendidas,"\nLlamadas no atendidas/Cortadas por la espera: ",NoAtendidas,"\nTiempo de espera promedio: ",PromEspera, "minutos","\nPorcentaje de no atendidas: %",PorcentajeNoAtendidas )



